@import url(https://fonts.googleapis.com/css?family=Euphoria+Script|Playfair+Display:400,400italic,700,700italic,900,900italic|Vollkorn:400italic,400|Playfair+Display+SC:400,400italic,700,700italic,900,900italic);
body {
  background-color: #FCFCF7;
  font-size: 1rem;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color: #706044;
  background-image: url(http://wowmarkandray.com/img/topogrpahy2-01.png);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  max-width: 100%;
}
#landing p {
  position: absolute;
  left: 34%;
  top: 145px;
  color: #706044;
  font-style: italic;
}
#landing h1 {
  font-family: 'Euphoria Script', cursive;
  font-size: 10rem;
  text-transform: none;
  color: #FA8078;
  text-align: center;
  position: relative;
  text-shadow: -2px -2px #FCE3D6;
  margin-bottom: 0px;
}
#landing h1 span {
  font-family: 'Playfair Display SC', serif;
  color: #FAA899;
  font-style: italic;
  margin-right: -4px;
}
#heart-lines {
  width: 43%;
  max-width: 515px;
  display: block;
  margin: 0 auto 15px;
}
.timeline {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.timeline-entry-v1 {
  width: 300px;
  position: relative;
  background-color: #FCFCF7;
  padding: 0 20px;
  box-sizing: border-box;
}
.timeline-entry-v1 h2 {
  font-size: 0.8rem;
  color: #E1675F;
}
.timeline-entry-v1 h3 {
  margin-top: -0.5rem;
  line-height: .4rem;
  font-size: 0.7rem;
  color: #FA8078;
}
.timeline-entry-v1 p {
  color: #706044;
  font-style: italic;
  font-size: 0.9rem;
}
.major-event-entry {
  width: 70%;
  margin: 0px auto 100px;
  background-color: #FCFCF7;
  border: 1px dashed #E6D491;
  box-shadow: 0px 15px 15px -18px #706044;
}
.major-event-entry h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 40px;
  box-sizing: border-box;
  text-align: left;
  margin: 0px;
}
.major-event-entry strong {
  float: left;
  font-size: 6.5rem;
  padding-right: 15px;
  line-height: 6rem;
  position: relative;
  color: #DEC773;
  top: 5px;
}
.story-content {
  display: inline-block;
  width: 250px;
  position: relative;
  background-color: #FCFCF7;
  padding: 0 20px;
  box-sizing: border-box;
  font-style: italic;
  vertical-align: top;
}
.story-content p {
  font-size: 0.95rem;
  margin-top: 0px;
}
.timeline-entry {
  text-align: center;
  margin-bottom: 100px;
}
.timeline-entry .lisy {
  text-align: right;
}
.timeline-entry .date {
  text-align: center;
  display: inline-block;
}
.timeline-entry .date h2 {
  margin-top: 0px;
  font-size: 0.8rem;
  color: #E1675F;
}
.timeline-entry .date h3 {
  margin-top: -0.5rem;
  line-height: .4rem;
  font-size: 0.7rem;
  color: #FA8078;
}
.timeline-entry .mark {
  text-align: left;
}
.timeline img {
  margin-bottom: 100px;
}
.palette-box-light-cream {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #FCFCF7;
  display: inline-block;
}
.palette-box-faded-cream {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #F7F5E3;
  display: inline-block;
}
.palette-box-cream {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #F0EDC9;
  display: inline-block;
}
.palette-box-light-gold {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #E6D491;
  display: inline-block;
}
.palette-box-gold {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #DEC773;
  display: inline-block;
}
.palette-box-light-rose-gold {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #FCE3D6;
  display: inline-block;
}
.palette-box-rose-gold {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #FCCCB0;
  display: inline-block;
}
.palette-box-light-rose {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #FAA899;
  display: inline-block;
}
.palette-box-rose {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #FA8078;
  display: inline-block;
}
.palette-box-dark-rose {
  width: 10%;
  height: 10px;
  margin: 0 auto;
  background-color: #E1675F;
  display: inline-block;
}
footer {
  position: fixed;
  bottom: -7px;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 960px) {
  #landing h1 {
    font-size: 8rem;
  }
  #landing p {
    left: 30%;
    top: 105px;
  }
}
@media screen and (max-width: 600px) {
  #landing h1 {
    font-size: 4.7rem;
  }
  #landing p {
    font-size: .8rem;
    top: 47px;
    left: 27%;
  }
  .major-event-entry {
    width: 95%;
    margin: 0px auto 100px;
    background-color: #FCFCF7;
    border: 1px solid #E6D491;
    box-shadow: 0px 15px 15px -18px #706044;
  }
  .major-event-entry h2 {
    font-size: 0.95rem;
    line-height: 1.5rem;
    padding: 40px;
    box-sizing: border-box;
    text-align: left;
    margin: 0px;
  }
  .major-event-entry strong {
    float: left;
    font-size: 5rem;
    padding-right: 15px;
    line-height: 5rem;
    position: relative;
    color: #DEC773;
    top: 5px;
  }
}
