<!DOCTYPE html>
<html>
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="thanks-root"></div>
	</body>
</html>