@import url(https://fonts.googleapis.com/css?family=Euphoria+Script|Playfair+Display:400,400italic,700,700italic,900,900italic|Vollkorn:400italic,400|Playfair+Display+SC:400,400italic,700,700italic,900,900italic);
@import './constants.less';

body {
	background-color: @light-cream;
	font-size: 1rem;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	color: @other-dark-gold;
	background-image: url(http://wowmarkandray.com/img/topogrpahy2-01.png);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

#landing {

	p {
		position: absolute;
		left: 34%;
		top: 145px;
		color: @other-dark-gold;
		font-style: italic;
	}

	h1 {
		font-family: 'Euphoria Script', cursive;
		font-size: 10rem;
		text-transform: none;
		color: @rose;
		text-align: center;
		position: relative;
		text-shadow: -2px -2px @light-rose-gold;
		margin-bottom: 0px;
	}

	h1 span {
		font-family: 'Playfair Display SC', serif;
		color: @light-rose;
		font-style: italic;
		margin-right: -4px;
	}
	
}

#heart-lines {
	width: 43%;
    max-width: 515px;
    display: block;
    margin: 0 auto 15px;
}

.timeline {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.timeline-entry-v1 {
	width: 300px;
	position: relative;
	background-color: @light-cream;
	padding: 0 20px;
	box-sizing: border-box;
	h2 {
		font-size: 0.8rem;
		color: @dark-rose;
	}
	h3 {
		margin-top: -.5rem;
		line-height: .4rem;
		font-size: 0.7rem;
		color: @rose;
	}
	p {
		color: @brown;
		font-style: italic;
		font-size: 0.9rem;
	}
}

.major-event-entry {
	width: 70%;
	margin: 0px auto 100px;
	background-color: @light-cream;
	border: 1px dashed @light-gold;
	box-shadow: 0px 15px 15px -18px @brown;
	h2 {
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 40px;
		box-sizing: border-box;
		text-align: left;
		margin: 0px;
	}
	strong {
		float: left;
	    font-size: 6.5rem;
	    padding-right: 15px;
	    line-height: 6rem;
	    position: relative;
	    color: @gold;
	    top: 5px;
	}
}

.story-content {
	display: inline-block;
	width: 250px;
	position: relative;
	background-color: @light-cream;
	padding: 0 20px;
	box-sizing: border-box;
	font-style: italic;
	vertical-align: top;
}
.story-content p {
	font-size: 0.95rem;
	margin-top: 0px;
}

.timeline-entry {
	text-align: center;
	margin-bottom: 100px;
	.lisy {
		text-align: right;

	}
	.date {
		text-align: center;
		display: inline-block;
		h2 {
			margin-top: 0px;
			font-size: 0.8rem;
			color: @dark-rose;
		}
		h3 {
			margin-top: -.5rem;
			line-height: .4rem;
			font-size: 0.7rem;
			color: @rose;
		}
	}
	.mark {
		text-align: left;

	}
}

.palette-box(@color) {
	width: 10%;
	height: 10px;
	margin: 0 auto;
	background-color: @color;
	display: inline-block;
}

.palette-box-light-cream {
	.palette-box(@light-cream)
}

.palette-box-faded-cream {
	.palette-box(@faded-cream)
}

.palette-box-cream {
	.palette-box(@cream)
}

.palette-box-light-gold {
	.palette-box(@light-gold)
}

.palette-box-gold {
	.palette-box(@gold)
}

.palette-box-light-rose-gold {
	.palette-box(@light-rose-gold)
}

.palette-box-rose-gold {
	.palette-box(@rose-gold)
}

.palette-box-light-rose {
	.palette-box(@light-rose)
}
.palette-box-rose {
	.palette-box(@rose)
}
.palette-box-dark-rose {
	.palette-box(@dark-rose)
}

footer {
	position: fixed;
	bottom: -7px;
	left: 0;
	width: 100%;
}

@media screen and (max-width: 960px) {
	#landing {
		h1 {
			font-size: 8rem;
		}
		p {
			left: 30%;
			top: 105px;
		}
	}
}


@media screen and (max-width: 600px) {
	#landing {
		h1 {
			font-size: 4.7rem;
		}

		p {
			font-size: .8rem;
			top: 47px;
			left: 27%;
		}
	}

	.major-event-entry {
		width: 95%;
		margin: 0px auto 100px;
		background-color: @light-cream;
		border: 1px solid @light-gold;
		box-shadow: 0px 15px 15px -18px @brown;
		h2 {
			font-size: 0.95rem;
			line-height: 1.5rem;
			padding: 40px;
			box-sizing: border-box;
			text-align: left;
			margin: 0px;
		}
		strong {
			float: left;
		    font-size: 5rem;
		    padding-right: 15px;
		    line-height: 5rem;
		    position: relative;
		    color: @gold;
		    top: 5px;
		}
	}
}