@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,900|Euphoria+Script|Playfair+Display+SC:400,700,400italic);
@import './constants.less';

body {
	background-color: @light-cream;
	font-size: 1rem;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 1;
	background-color: @light-cream;
	border-bottom: 2px solid @rose;
}

nav ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

nav ul li {
	display: inline-block;
	vertical-align: top;
	margin-top: 11px;
}

.placeholder:after {
	content: '\2665';
	position: relative;
	left: 50px;
	color: @rose;
}

.placeholder:hover:after {
	content: '\2665';
	position: relative;
	left: 50px;
	&:hover {
		cursor: default;
	}
}

nav ul li a {
	margin: 11px 50px;
	position: relative;
	font-family: 'Playfair Display SC', serif;
	font-weight: 300;
	text-decoration: none;
	color: @light-rose;
	text-transform: lowercase;
	font-size: .7rem;
	position: relative;
	font-style: italic;
}

nav ul li a:hover {
	color: @rose;
}

.home-link h1 {
	font-family: 'Euphoria Script', cursive;
	font-size: 2.2rem;
	text-transform: none;
	color: @rose;
	text-align: center;
	position: relative;
	top: -36px;
	display: inline-block;
}

.home-link h1:after {
	content: '';
	height: 5rem;
	width: 15rem;
	position: absolute;
	background-color: @light-cream;
	margin-left: -193px;
	margin-top: -17px;
	border-radius: 100%;
	box-shadow: 0px 3px 0px -1px @rose;
	z-index: -1;
}

.home-link span {
	font-family: 'Playfair Display SC', serif;
	color: @light-rose;
	font-style: italic;
	margin-right: -4px;
}

img {
	max-width: 100%;
}

.callout {
	font-family: 'Playfair Display SC', serif;
	font-style: italic;
	font-size: 5rem;
	margin-top: -91px;
	color: @light-cream;
	text-align: right;
}

section {
	height: 500px;
}

section h1 {
	text-align: right;
	font-family: 'Euphoria Script', cursive;
	color: @dark-rose;
	font-size: 5rem;
	border-bottom: 1px solid @light-rose;
	width: 50%;
}

section h1:after {
	content: '\2767';
	padding-left: 15px;
	font-size: 2rem;
	color: @light-rose;
}

section h1:before {
	content: '\2619';
	font-size: 2rem;
	padding-right: 15px;
	color: @light-rose;
}

section h4 {
	text-align: left;
	font-family: 'Euphoria Script', cursive;
	color: @dark-rose;
	font-size: 5rem;
	border-bottom: 1px solid @light-rose;
	width: 50%;
	float: right;
	span {
		font-size: 1.8rem;
		color: @light-rose;
	}
}

section h2 {
	text-align: center;
	color: @light-rose;
	font-size: 2rem;
}


.palette-box(@color) {
	width: 10%;
	height: 10px;
	margin: 0 auto;
	background-color: @color;
	display: inline-block;
}

.palette-box-light-cream {
	.palette-box(@light-cream)
}

.palette-box-faded-cream {
	.palette-box(@faded-cream)
}

.palette-box-cream {
	.palette-box(@cream)
}

.palette-box-light-gold {
	.palette-box(@light-gold)
}

.palette-box-gold {
	.palette-box(@gold)
}

.palette-box-light-rose-gold {
	.palette-box(@light-rose-gold)
}

.palette-box-rose-gold {
	.palette-box(@rose-gold)
}

.palette-box-light-rose {
	.palette-box(@light-rose)
}
.palette-box-rose {
	.palette-box(@rose)
}
.palette-box-dark-rose {
	.palette-box(@dark-rose)
}

footer {
	position: fixed;
	bottom: -4px;
	left: 0;
	width: 100%;
}

@media screen and (max-width: 840px) {
	nav ul li a {
		display: none;
	}
	.home-link {
		display: inline-block;
	}
	.home-link h1 {
		font-family: 'Euphoria Script', cursive;
		font-size: 1.5rem;
		text-transform: none;
		color: @rose;
		text-align: center;
		position: relative;
		top: -30px;
		display: inline-block;
	}

	.home-link h1:after {
		content: '';
		height: 5rem;
		width: 12rem;
		position: absolute;
		background-color: @light-cream;
		margin-left: -150px;
		margin-top: -30px;
		border-radius: 100%;
		box-shadow: 0px 3px 0px -1px @rose;
		z-index: -1;
	}
}

@media screen and (max-width: 450px) {
	.home-link h1 {
		font-family: 'Euphoria Script', cursive;
		font-size: 1.3rem;
		text-transform: none;
		color: @rose;
		text-align: center;
		position: relative;
		top: -32px;
		display: inline-block;
	}
	.home-link h1:after {
		content: '';
		height: 4rem;
		width: 9rem;
		position: absolute;
		background-color: @light-cream;
		margin-left: -117px;
		margin-top: -16px;
		border-radius: 100%;
		box-shadow: 0px 3px 0px -1px @rose;
		z-index: -1;
	}
}